body {
    font-family: "Inter", sans-serif;
}

button {
    font-family: inherit;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}