body {
    font-family: "Inter", sans-serif;
}

button {
    font-family: inherit;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #464646
}