body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

h1 {
    margin: 0;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #464646
}

section {
    padding: 60px 100px;

}
.hero-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(255, 252, 219);
    flex-wrap: wrap;
}

.hero {
    font-size: 45px;
    font-weight: 800;
}

button {
    font-family: inherit;
    white-space: nowrap;
    width: 120px;
    height: 38px;
    padding: 4px 24px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    background-color: rgb(180, 0, 0);
    border: 0;
}

button:hover {
    background-color: #000000;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.51);
}

button:active {
    background-color: #ff0000;
    transform: scale(0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 25px;
}

.inspire-section {
    text-align: center;
}

.inspire-text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.inspire-memes {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.meme {
    width: 250px;
}

.text {
    margin-top: 10px;
}

.quote-section {
    background-color: rgb(255, 250, 198);
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 600px;
}

.quote {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

.elon {
    text-align: right;
    font-weight: bold;
}

.cta-section {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    color: white;
    background-color: #7a0000;
    width: 35vw;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
    gap: 30px;
}

.cta {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.cta-subtext {
    font-size: 14px;
}

.footer {
    padding: 20px;
    background-color: #000000;
    color: white;
    text-align: center;
}