body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

button {
    font-family: inherit;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

h1 {
    margin: 0;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #464646
}

section {
    padding: 60px 100px;

}
.hero-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: beige;
    flex-wrap: wrap;
}

.hero {
    font-size: 45px;
    font-weight: 800;
}

button {
    padding: 4px 24px;
    border-radius: 4px;
    font-weight: 700;
    color: white;
    background-color: rgb(180, 0, 0);
}

img {
    border-radius: 25px;
}

.inspire-section {
    text-align: center;
}

.inspire-text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.inspire-memes {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.meme {
    width: 250px;
}

.text {
    margin-top: 10px;
}

