body {
    font-family: "Inter", sans-serif;
}

button {
    font-family: inherit;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

h1 {
    margin: 0;
}


ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #464646
}